/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-weight: 600;
    margin: 50px;
    letter-spacing: .02em;
}

.pagetop {
    margin: 70px auto;
}

p {
    font-weight: bolder;
    font-size: large;
    margin: 10px;
    padding: 0;
}

.formcontainer {
    height: 90px;
    width: 550px;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.radiobuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.receivebutton {
    height: 25px;
    width: 200px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #134d71;
    color: white;
    border-radius: 4px;
    border: none;
    display: block;
}

.pagebottom {
    display: flex;
    flex-direction: column;
}

.messagecontainer {
    height: 160px;
    width: 900px;
    margin: 10px auto;
    background-color: white;
    color: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: 75px;
}

.bottombuttons {
    /* display: flex; */
}

.actionbuttons {
    height: 25px;
    width: 200px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    margin-top: 8px;
    background-color: #134d71;
    color: white;
    border-radius: 4px;
    border: none;
    display: block;
}

.